/*

weight tips from https://www.udacity.com/blog/2021/01/html-css-font-weight.html

100 – Thin
200 – Extra Light (Ultra Light)
300 – Light
400 – Normal
500 – Medium
600 – Semi Bold (Demi Bold)
700 – Bold
800 – Extra Bold (Ultra Bold)
900 – Black (Heavy)

*/


@font-face {
    font-family: 'Crimson';
    src: URL('Cardo-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Cardo';
    src: URL('Cardo-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Cardo';
    src: URL('Cardo-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Crimson';
    src: URL('Cardo-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Crimson';
    src: URL('Cardo-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Crimson';
    src: URL('Cardo-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}
