
@font-face {
    font-family: 'Ghibli';
    src: URL('Ghibliar.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ghibli';
    src: URL('Ghibli-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
